@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900&display=swap&subset=cyrillic,cyrillic-ext');

body {
    font-family: 'Montserrat', sans-serif;
}

.main {
    background: url("../img/bg.png");
    height: 655px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-form__text {
    max-width: 708px;
}

.main-form__text > p {
    font-size: 30px;
    font-weight: 300;
    text-align: left;
    color: #ffffff;
}

.main-form__text > p > span {
    font-weight: bold;
}

.form {
    width: 348px;
    height: 433px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 50px 40px;
}

.from__title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.button {
    max-width: 270px;
    height: 45px;
    border-radius: 5px;
    box-shadow: 0px 5px 25px 0 rgba(0, 0, 0, 0.35);
    background-color: #ee8588;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    width: 270px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.advantages {
    background: url("../img/advantages.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

.header-text {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #000000;
    margin-top: 0;
    padding-top: 58px;
}

.text-card > p {
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    color: #000000;
}

.text-card > p > span {
    font-weight: bold;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.text-card {
    max-width: 340px;
    margin-right: 85px;
}

@media only screen and (max-width: 1300px) {
    .main {
        height: 100%;
        padding-bottom: 30px;
    }

    .main-form {
        flex-direction: column;
    }
}

.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
    background-color: #ee8588 !important;
}